schema/text.xml

<?xml version="1.0"?>
<!--
Copyright © (C) 2012 Emory Hughes Merryman, III!

    This file is part of rebornlion.

    rebornlion is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    rebornlion is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="paragraph"/>
      </xs:sequence>
      <xs:attribute name="height">
	<xs:simpleType>
	  <xs:restriction base="xs:integer">
	    <xs:minInclusive value="0"/>
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="width" default="80">
	<xs:simpleType>
	  <xs:restriction base="xs:integer">
	    <xs:minInclusive value="0"/>
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="paragraph" type="text"/>
  <xs:element name="word" type="xs:string"/>
  <xs:complexType name="text">
    <xs:sequence>
      <xs:element ref="word"/>
      <xs:simpleContent>
	<xs:extension base="xs:string"/>
      </xs:simpleContent>
    </xs:sequence>
  </xs:complexType>
</xs:schema>